<%- include("../partials/header") -%>

<div class="menucliente">
    <li><a href="http://localhost:3535/produto">Produtos</a></li>
    <li><a href="http://localhost:3535/produto/cadastro">Cadastro</a></li>
    <li><a href="http://localhost:3535/produto/relatorio">Relatorio</a></li>
</div>


<div id="clientsList">
    <div class="titleClients">
        <h3>Produtos</h3>
    </div>




<% produto.forEach(produto => { %>
    <p  class="itemLista"> <%= produto.nome %> - <%= produto.quantidade %> -
    R$ <%= produto.valor %>  <a href="http://localhost:3535/produto/edit/<%= produto.id %>"><button class="btnEditar">Editar</button></a> <a href="http://localhost:3535/produto/delete/<%= produto.id %>"><button class="btnDelete">Deletar</button></a></p>
    
<% }) %>

</div>

<%- include("../partials/footer") -%>